.practice3 {
    padding: 30px 0;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1owumYtP7EBjEMW_rcdNaQVcKiCw5Nw4eSA&usqp=CAU") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-info {
    width: 100%;
    background-color: white;
    display: flex;
    gap: 30px;
    padding: 50px;
    max-width: 600px;
    margin: 0px auto;
    box-shadow: 0px 0px 4px 0px silver;

}

.profile-photo {
    width: 100%;
    max-width: 250px;

}

.profile-photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-text {
    width: 100%;
    max-width: 450px;
}

.badge {
    background-color: #088ae0;
    display: inline-block;
    color: white;
    padding: 10px 15px;
    font-weight: 700;
    border-radius: 5px;
}

.heading {
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.subheading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    color: #577ca1;
}

.profile-text p {
    line-height: 1.5;
}

.social-links {
    display: flex;
}

.social-button {
    display: inline-block;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 5px;

}

.social-button-fb {
    background-color: #34495e;
}

.social-button-ln {
    background-color:#2980b9;
}
